In [1]:
import numpy as np
import pandas as pd
import json

In [21]:
meta = pd.read_csv('fish-dataset/fishing.csv')

meta.head()

,X,Y,OBJECTID,YINFO_ID,NAME,POINT_NM,MATERIAL,DPWT,TIDE_TIME,TARGET,PHOTO1_PAT,ADR_KNM,FISH,CATEGORY,ID
0,124.729472,37.831778,S10001,F1001,대청도·소청도,선진포항 앞바다,가는 모래,13~20,조금 전후,"▶넙치 - 루어, 원투 \n▶노래미 - 루어, 릴찌, 장대, 원투\n▶농어 - 루어...",NaN,인천광역시 옹진군,"넙치,노래미,농어,삼치,쏨뱅이,우럭",0,1
1,124.780222,37.777278,S10002,F1001,대청도·소청도,곽암 부근,"자갈, 조개껍질",23~29,조금 전후,"▶넙치 - 루어, 원투 \n▶노래미 - 루어, 릴찌, 장대, 원투\n▶농어 - 루어...",NaN,인천광역시 옹진군,"넙치,노래미,농어,삼치,쏨뱅이,우럭",0,2
2,124.733750,37.751500,S10003,F1001,대청도·소청도,가두암 부근,가는 모래,26~30,조금 전후,"▶넙치 - 루어, 원투 \n▶노래미 - 루어, 릴찌, 장대, 원투\n▶농어 - 루어...",NaN,인천광역시 옹진군,"넙치,노래미,농어,삼치,쏨뱅이,우럭",0,3
3,124.664083,37.801278,S10004,F1001,대청도·소청도,갑죽도 부근,"모래, 조개껍질",22~27,조금 전후,"▶넙치 - 루어, 원투 \n▶노래미 - 루어, 릴찌, 장대, 원투\n▶농어 - 루어...",04_갑죽도 부근.JPG,인천광역시 옹진군,"넙치,노래미,농어,삼치,쏨뱅이,우럭",0,4
4,126.317972,37.522833,S10005,F1002,장봉도,비가지(날가지도) 부근,"모래, 펄",6~11,"조금 전·후, 3물~5물","▶넙치 - 루어, 원투 \n▶노래미 - 루어, 릴찌, 장대, 원투\n▶망둑어 - 원...",NaN,인천광역시 옹진군,"넙치,노래미,망둑어,숭어,우럭",0,5

In [22]:
meta = meta[['ID', 'NAME', 'POINT_NM', 'ADR_KNM', 'CATEGORY']]
meta = meta.rename(columns={'ID':'fishingId'})

meta.head()

   fishingId     NAME      POINT_NM    ADR_KNM  CATEGORY
0          1  대청도·소청도      선진포항 앞바다  인천광역시 옹진군         0
1          2  대청도·소청도         곽암 부근  인천광역시 옹진군         0
2          3  대청도·소청도        가두암 부근  인천광역시 옹진군         0
3          4  대청도·소청도        갑죽도 부근  인천광역시 옹진군         0
4          5      장봉도  비가지(날가지도) 부근  인천광역시 옹진군         0

In [23]:
ratings = pd.read_csv('fish-dataset/Reviewdata.csv')
ratings = ratings[['userId', 'fishingId', 'rating']]
ratings.head()

   userId  fishingId  rating
0    1752        277       3
1    1306        410       2
2     344       1057       5
3    1623        984       4
4     605       1135       1

In [24]:
ratings.describe()

             userId     fishingId        rating
count  10000.000000  10000.000000  10000.000000
mean     996.131600    804.070200      2.994500
std      582.988693    465.613664      1.414733
min        1.000000      1.000000      1.000000
25%      487.750000    402.000000      2.000000
50%      990.000000    800.000000      3.000000
75%     1504.250000   1205.000000      4.000000
max     2000.000000   1610.000000      5.000000

In [25]:
meta.fishingId = pd.to_numeric(meta.fishingId, errors='coerce')
ratings.fishingId = pd.to_numeric(ratings.fishingId, errors='coerce')

In [28]:
data = pd.merge(ratings, meta, on='fishingId', how='inner')

data.head()

   userId  fishingId  rating     NAME  POINT_NM   ADR_KNM  CATEGORY
0    1752        277       3  거차수도 부근  새여 부근 해상  전라남도 진도군         0
1    1603        277       1  거차수도 부근  새여 부근 해상  전라남도 진도군         0
2    1537        277       3  거차수도 부근  새여 부근 해상  전라남도 진도군         0
3    1968        277       4  거차수도 부근  새여 부근 해상  전라남도 진도군         0
4     818        277       4  거차수도 부근  새여 부근 해상  전라남도 진도군         0

In [29]:
matrix = data.pivot_table(index='userId', columns='POINT_NM', values='rating')
matrix.head(20)

POINT_NM,.솔섬 맞은편,1. 증서 부근,2. 광서 부근,3. 도토머리도 부근,6.수월약수터 앞 갯바위,가도 부근,가도 북측 갯바위,가동서 부근,가두암 부근,가란도,...,흑도와 골서 부근,흑서 부근,흑여(낚시배),흑초 부근,흔들바위 상단,흥남해수욕장 몽돌밭,흥어굴 인근,흰여,흰여 부근,흰여 해상
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
GENRE_WEIGHT = 0.1

def pearsonR(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

def recommend(input_fishing, matrix, n, similar_fishing=True):
    input_fishing = meta[meta['POINT_NM'] == input_fishing]['CATEGORY'].iloc(0)[0]

    result = []
    for title in matrix.columns:
        if title == input_fishing:
            continue

        cor = pearsonR(matrix[input_fishing], matrix[title])

        if similar_fishing and len(input_fishing) > 0:
            temp_fishing = meta[meta['POINT_NM'] == title]['CATEGORY'].iloc(0)[0]

            same_count = np.sum(np.isin(input_fishing, temp_fishing))
            cor += (GENRE_WEIGHT * same_count)
        
        if np.isnan(cor):
            continue
        else:
            result.append((title, '{:.2f}'.format(cor), temp_fishing))
            
    result.sort(key=lambda r: r[1], reverse=True)

    return result[:n]

In [ ]:
for title in matrix.columns:
    print(matrix[title])

In [43]:
recommend_result = recommend('가란도', matrix, 10, similar_fishing=True)

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

KeyError: 1